<%= render 'shared/errors' %>
<h2>Edit Band</h2>
<br>
<form action="<%= band_url(@band.id) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <label for="name">Name of Band:
    <input type="text" name="band[name]" value="<%= @band.name %>">
  </label>
  <input type="submit" value="Submit">
</form>
